<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0">
	<relyingPartySettings enableBasicAuthenticationForBackendServices="True" />
	<securityTokenServiceSettings>
		<identityServerSettings>
			<identityServerClients>
				<add clientId="pressRelease" enabled="True" flow="ResourceOwner" allowAccessToAllScopes="True" clientName="pressRelease">
					<clientSecrets>
						<add clientSecret="0nNtpCUlEX" />
					</clientSecrets>
					<allowedCorsOrigins>
						<add allowedCorsOrigin="http://sfws.local" />
					</allowedCorsOrigins>
				</add>
			</identityServerClients>
			<scopes>
				<add scopeType="Resource" name="offline_access" />
			</scopes>
		</identityServerSettings>
	</securityTokenServiceSettings>
</authenticationConfig>