<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0" initialized="True">
	<connectionStrings>
		<!--<add connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\jread\Documents\GitHub\SitefinitySamples.PressReleaseWebService\App_Data\Sitefinity.mdf;Integrated Security=true;Connect Timeout=30" name="Sitefinity" />-->
		<add connectionString="data source=localhost;UID=sfUser;PWD=password;initial catalog=SitefinityPR" name="Sitefinity" />
	</connectionStrings>
</dataConfig>