<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0" authCookieName=".SFAUTH-WebServicesExample" rolesCookieName=".SFROLES-WebServicesExample" validationKey="C3F94FE4CCA1AA1359A766D14C35FA5706A836A529B316FA93087146D378D41A0BAEB71732979FFFCF0142E34387896938F3CB8918197C2DF2B6F1C6ECFCE428" decryptionKey="0865740FFAE155846809FDF188285A5BFE6F0F9B13BC14DB4FC3CEA3F539D167" loggingCookieName=".SFLOG-WebServicesExample">
	<securityTokenIssuers>
		<add key="DD58A7041E1BF76D384BCE2171076BF3841C3D041D4F0DF00272F6841F686877" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="DD58A7041E1BF76D384BCE2171076BF3841C3D041D4F0DF00272F6841F686877" realm="http://localhost" />
	</relyingParties>
</securityConfig>