<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add name="Press Releases" urlName="press-releases">
					<types>
						<add urlName="pressreleases" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.PressReleases.Pressrelease" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>